.panel {
    header {
        .logo {
            flex-basis: 300px;
            background: rgba($primary, 0.2);

            @include media-breakpoint-down(lg) {
                flex-basis: 200px;
                background: transparent;
            }
        }
    }

    .wrapper {
        aside {
            flex-basis: 300px;
            background: rgba($dark, 0.1);
            border-right: solid 1px rgba($dark, 0.25);

            @include media-breakpoint-down(lg) {
                display: none !important;
            }
        }
    }
}